        body {
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
        }
        
        .cabecalho {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0rem;
        }
        
        .cabecalho-container {
            width: 100%;
            max-width: 1136px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 1rem;
        }
        
        .logo {
            width: 100px;
            height: 28px;
        }
        
        .barra-pesquisa {
            display: none;
            justify-content: space-between;
            align-items: center;
            width: 272px;
            height: 40px;
            background-color: #F5F5F5;
            border-radius: 20px;
        }
        
        .search {
            display: none;
            width: 272px;
            padding-left: 1rem;
            border: none;
            font-size: 14px;
            background-color: #F5F5F5;
            color: #A2A2A2;
        }
        
        .icon::placeholder {
            display: none;
            padding-right: 16px;
            background: url(./Images/lupa.png) no-repeat right;
            background-size: 17px;
        }
        
        .icone-lupa {
            width: 1.2rem;
        }
        
        .botao-login {
            width: 133px;
            display: flex;
            justify-content: flex-end;
            width: 133px;
            height: 40px;
        }
        
        .botao-secundario {
            padding: 12px 47.5px;
            background-color: #ffffff;
            border-width: 1px;
            border-color: #2a7ae4;
            color: #2a7ae4;
            font-size: 16px;
            font-weight: 400;
            ;
        }
        
        .botao-secundario:hover {
            background-color: #D4E4FA;
        }
        
        .botao-primario-principal {
            width: 119px;
            height: 40px;
            background-color: #2a7ae4;
            padding: 10px 16px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 16px;
        }
        
        .botao-primario-principal:hover {
            background: #5595E9;
        }
        
        .banner {
            background-image: url(./Logo-e-banner/banner.jpg);
            background-size: cover;
            width: 100%;
            height: 192px;
            display: flex;
            justify-content: center;
        }
        
        .conteudo-banner {
            width: 100%;
            max-width: 328px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0px 16px;
        }
        
        .titulo-banner {
            font-size: 22px;
            font-weight: 700;
            color: #ffffff;
            margin-bottom: 8px;
        }
        
        .subtitulo-banner {
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            margin-bottom: 8px;
        }
        
        .produtos {
            width: 100%;
            max-width: 1136px;
            margin: 0 auto;
        }
        
        .tipo-produto {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1.2rem 1rem;
        }
        
        h2 {
            font-size: 22px;
            font-weight: 700;
            color: #464646;
        }
        
        .link-ver-tudo {
            font-size: 14px;
            font-weight: 700;
            color: #2A7AE4;
            background-color: #ffffff;
            border: none;
        }
        
        .link-ver-tudo::after {
            content: url(./Images/Vector.png)
        }
        
        .container {
            margin: 0px 16px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .item-produto {
            width: 46%;
            display: flex;
            flex-direction: column;
        }
        
        .item-produto:nth-child(5) {
            display: none;
        }
        
        .item-produto:nth-child(6) {
            display: none;
        }
        
        .titulo-produto {
            font-size: 14px;
            font-weight: 500;
            color: #464646;
            margin-top: .5rem;
        }
        
        .preco-produto {
            font-size: 16px;
            font-weight: 700;
            color: #464646;
            margin-top: .5rem;
        }
        
        .link-produto {
            font-size: 14px;
            font-weight: 700;
            color: #2A7AE4;
            margin-top: .5rem;
            margin-bottom: 1rem;
        }
        
        .rodape {
            background-color: #EAF2FD;
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
        }
        
        .rodape-conteudo {
            width: 100%;
            max-width: 1136px;
            margin: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        
        .rodape-esquerda {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }
        
        .lista-rodape {
            height: 194px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 16px;
            color: #464646;
            font-weight: 500;
        }
        
        .item-lista-rodape {
            text-decoration-line: none;
        }
        
        .rodape-direita {
            width: 100%;
            height: auto;
        }
        
        .formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        
        legend {
            font-size: 1rem;
            font-weight: 700;
            color: #464646;
            margin-bottom: 0.5rem;
        }
        
        .label-nome {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border: none;
            border-radius: 4px;
            width: 100%;
            box-shadow: 0px 1px 1px #C8C8C8;
            margin-bottom: 16px;
        }
        
        label {
            display: block;
            padding: 8px 12px 0px 12px;
            color: #A2A2A2;
            font-size: 0.75rem;
            font-weight: 400;
            height: 28px;
        }
        
        .nome {
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            color: #464646
        }
        
        .mensagem {
            width: 100%;
            height: 82px;
            border-radius: 4px;
            background-color: #ffffff;
            border: none;
            padding: 1rem 0.5rem;
            box-shadow: 0px 1px 1px #C8C8C8;
            margin-bottom: .75rem;
            box-sizing: border-box;
        }
        
        textarea::placeholder {
            font-size: 16px;
            font-family: 'Raleway', sans-serif;
            color: #A2A2A2;
            text-align: left;
            padding: 4px 0px 16px 6px;
        }
        
        .botao-primario-rodape {
            width: 151px;
            height: 40px;
            background-color: #2a7ae4;
            padding: 10px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
        }
        
        .botao-primario-rodape:hover {
            background: #5595E9;
        }
        
        .autoria {
            font-size: 16px;
            color: #464646;
            font-weight: 500;
            margin: 32px 0px;
            text-align: center;
        }
        
        @media screen and (min-width: 768px) {
            .barra-pesquisa {
                display: flex;
                margin-right: 8rem;
            }
            .search {
                display: flex;
            }
            .icone-lupa {
                display: none;
            }
            .botao-login {
                width: 166px;
                justify-content: flex-end;
            }
            .banner {
                background-image: url(./Logo-e-banner/banner-tablet.png);
                background-size: cover;
                height: 352px;
                justify-content: flex-start;
            }
            .conteudo-banner {
                max-width: 768px;
            }
            .titulo-banner {
                font-size: 52px;
            }
            .subtitulo-banner {
                font-size: 22px;
                font-weight: 700;
            }
            .item-produto {
                width: 23%;
            }
            .link-produto {
                font-size: 16px;
            }
            .rodape {
                margin-top: 20px;
            }
            .rodape-conteudo {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                height: 300px;
                padding: 0 2rem;
                margin: 24px 0px 48px;
            }
            .rodape-esquerda {
                justify-content: flex-start;
                align-items: flex-start;
            }
            .lista-rodape {
                height: 234px;
                margin-top: 12px;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
        
        @media screen and (min-width: 1136px) {
            .cabecalho {
                justify-content: center;
            }
            .logo {
                width: 176px;
                height: 50px;
            }
            .barra-pesquisa {
                width: 393px;
                margin-right: 20rem;
            }
            .search {
                width: 393px;
            }
            .botao-login {
                width: 182px;
                height: 51px;
            }
            .botao-primario-principal {
                width: 130px;
                height: 51px;
            }
            .banner {
                background-image: url(./Logo-e-banner/banner-image.png);
                justify-content: center;
            }
            .conteudo-banner {
                max-width: 1136px;
            }
            h2 {
                font-size: 32px;
            }
            .link-ver-tudo {
                font-size: 16px;
            }
            .item-produto {
                width: 15%;
            }
            .item-produto:nth-child(5) {
                display: flex;
            }
            .item-produto:nth-child(6) {
                display: flex;
            }
            .rodape-esquerda {
                flex-direction: row;
                justify-content: space-around;
            }
            .lista-rodape {
                margin-right: 4rem;
                margin-top: none;
            }
            .rodape-direita {
                height: 240px;
                margin-top: 30px;
            }
        }