body {
    font-family: 'Raleway', sans-serif;
}

.cabecalho {
    width: auto;
    max-width: 1136px;
    margin: auto;
    background: #ffffff;
    display: flex;
    justify-content: center;
}

.cabecalho-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 15%;
}

.logo-e-pesquisa {
    width: 601px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 176px;
    height: 50px;
}

.search {
    width: 393px;
    height: 40px;
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
    border: none;
    font-size: 14px;
    background-color: #F5F5F5;
    color: #A2A2A2;
}

.icon::placeholder {
    padding-right: 16px;
    background: url(/Images/lupa.png) no-repeat right;
    background-size: 17px;
}

.login {
    width: 535px;
    display: flex;
    justify-content: flex-end;
}

.botao-primario-principal {
    width: 130px;
    height: 51px;
    background-color: #2a7ae4;
    padding: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.botao-secundario {
    width: 182px;
    height: 51px;
    padding: 16px;
    background-color: #ffffff;
    border-width: 1px;
    border-color: #2a7ae4;
    color: #2a7ae4;
    font-size: 16px;
    font-weight: 400;
    ;
}

.banner {
    background-image: url(/Logo-e-banner/banner-image.png);
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 352px;
    display: flex;
    justify-content: center;
}

.conteudo-banner {
    width: 100%;
    max-width: 1136px;
    height: 352px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0% 10%;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}

.desconto {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}

.produtos {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #464646;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    margin: 20px 0px 40px 0px;
}

.titulo-produto {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
    margin-top: 8px;
}

.preco-produto {
    font-size: 16px;
    font-weight: 700;
    color: #464646;
    margin-top: 8px;
    margin-bottom: 8px;
}

.link-produto {
    font-size: 16px;
    font-weight: 700;
    color: #2A7AE4;
}

.starWars,
.consoles,
.diversos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-ver-tudo {
    font-size: 16px;
    font-weight: 700;
    color: #2A7AE4;
    background-color: #ffffff;
    border: none;
}

.rodape {
    background-color: #EAF2FD;
    width: auto;
    height: 368px;
    margin: auto;
}

.rodape-conteudo {
    max-width: 1136px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 64px auto;
}

.autoria {
    font-size: 16px;
    color: #464646;
    font-weight: 500;
    margin: 32px 0px;
    text-align: center;
}

.rodape-esquerda {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 64px;
}

.lista-rodape {
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    color: #464646;
    font-weight: 500;
}

.rodape-direita {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 64px;
}

#nome {
    width: 560px;
    height: 56px;
    border-radius: 4px;
    margin: 8px 0px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    color: #A2A2A2;
    text-align: left;
    /*inserir código para o nome ficar no topo e verificar como manter a letra especificada*/
    border: none;
}

#mensagem {
    width: 560px;
    height: 82px;
    border-radius: 4px;
    margin: 8px 0px;
    background-color: #ffffff;
    font-size: 16px;
    color: #A2A2A2;
    text-align: left;
    /*inserir código para o nome ficar no topo e verificar como manter a letra especificada, pseuclass? */
    border: none;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    color: #464646;
}

.botao-primario-rodape {
    width: 165px;
    height: 51px;
    background-color: #2a7ae4;
    padding: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}


/* Revisão do Fi
link figma: https://www.figma.com/file/itJpWbvHxSUcUeMPy1lmof/AluraGeek?node-id=55%3A1104 */