.product-all {
    background-color: #f5f5f5;
    padding: 1rem 0;
}

.product-container {
    width: calc(100% - 2rem);
    max-width: 1136px;
    margin: 0 auto;
    margin: 0px 1rem;
}

.product-all-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0;
    width: 100%;
    max-width: 1136px;
}

.product-all-title {
    font-size: 22px;
    font-weight: 700;
    color: #464646;
}

.product-add {
    margin-top: 1rem;
    width: 151px;
    height: 40px;
    background-color: #2a7ae4;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.product-add :hover {
    background: #5595E9;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1136px;
}

.item-produto {
    width: 46%;
    display: flex;
    flex-direction: column;
}

.titulo-produto {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
    margin-top: .5rem;
}

.preco-produto {
    font-size: 16px;
    font-weight: 700;
    color: #464646;
    margin-top: .5rem;
}

.link-produto {
    font-size: 14px;
    font-weight: 700;
    color: #2A7AE4;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .product-container {
        width: calc(100% - 4rem);
        margin: 0 auto;
    }
    .product-all-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .item-produto {
        width: 23%;
    }
    .item-produto:last-child {
        margin-right: 51.5%;
        /* esse aqui posso posicionar com grid? */
    }
}

@media screen and (min-width: 1136px) {
    .product-all-section {
        margin: 0;
    }
    .container {
        margin: 0;
    }
    .item-produto {
        width: 15%;
    }
    .item-produto:nth-child(18) {
        margin-right: 0;
    }
}